<ion-view view-title="Công suất phát lasers">
    <ion-content class="">
        <div class="list">
            <div class="item item-divider">
                Laser phát 1
            </div>
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="20" max="100" value="33">
                <i class="icon ion-ios-sunny"></i>
            </div>
            <div class="item item-divider">
                Laser phát 2
            </div>
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="20" max="100" value="33">
                <i class="icon ion-ios-sunny"></i>
            </div>
            <div class="item item-divider">
                Laser phát 3
            </div>
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="20" max="100" value="33">
                <i class="icon ion-ios-sunny"></i>
            </div>
            <div class="item item-divider">
                Laser phát 4
            </div>
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="20" max="100" value="33">
                <i class="icon ion-ios-sunny"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
